body{
    margin:0;
    font-family:Arial;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 80px;
background:black;
color:white;
}

.logo{
font-size:28px;
font-weight:bold;
}

nav a{
color:white;
text-decoration:none;
margin:20px;
font-size:18px;
}

.login-btn{

background:white;
color:black;

padding:12px 22px;

border:none;

border-radius:8px;

font-weight:bold;

cursor:pointer;

}


section{
    text-align:center;
    padding:80px;
}

button{
    background:black;
    color:white;
    border:none;
    padding:15px 30px;
    border-radius:8px;
    cursor:pointer;
}
