body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f8f8f8;
}

.announcement{
    background:#111;
    color:white;
    text-align:center;
    padding:10px;
    font-size:14px;
    letter-spacing:1px;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    background:black;
    color:white;
    position:sticky;
    top:0;
}

.logo{
    font-size:32px;
    font-weight:900;
    letter-spacing:3px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:20px;
    font-size:18px;
    transition:0.3s;
}

nav a:hover{
    color:#cccccc;
}

.login-btn{
    background:white;
    color:black;
    padding:12px 22px;
    border:none;
    border-radius:8px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.login-btn:hover{
    background:#ddd;
}

.hero{
    min-height:80vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:72px;
    margin-bottom:20px;
}

.hero p{
    max-width:700px;
    font-size:22px;
    color:#555;
    line-height:35px;
}

.hero-buttons{
    margin-top:40px;
}

button{
    background:black;
    color:white;
    border:none;
    padding:15px 30px;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
}

.secondary-btn{
    background:white;
    color:black;
    border:2px solid black;
    margin-left:15px;
}

.secondary-btn:hover{
    background:black;
    color:white;
}
